{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/data.xml {:mvn/version "0.2.0-alpha6"}
        org.clojure/data.zip {:mvn/version "1.0.0"}
        dev.nubank/docopt {:mvn/version "0.6.1-fix7"}
        com.phronemophobic/membrane {:mvn/version "0.9.31.1-beta"
                                     ;; :local/root "../membrane2"

                                     ;; :git/sha "e53dafa68d2f336519e35dc44a60aede370b8f35"
                                     ;; :git/url "https://github.com/phronmophobic/membrane"
                                     }
        com.phronemophobic.membrane/skialib-macosx-aarch64
        {:mvn/version "0.9.31.0-beta"
         ;;:local/root "../membrane2/csource/macos-aarch64"
         }

        com.phronemophobic.membrane/skialib-macosx-x86-64
        {:mvn/version "0.9.31.0-beta"}

        com.phronemophobic.membrane/skialib-linux-x86-64
        {:mvn/version "0.9.31.0-beta"}

        asciinema/vt
        #_{:local/root "../vt"}
        {:git/url "https://github.com/phronmophobic/vt"
         :git/sha "cc92e624bfc7e08d8bfdbd761f21d1ea43572edf"
         :exclusions [org.clojure/clojurescript]}

        org.jetbrains.pty4j/pty4j {:mvn/version "0.11.4"}}

 :mvn/repos
 {"jetbrains-intellij-dependencies" {:url "https://packages.jetbrains.team/maven/p/ij/intellij-dependencies"}}
 :aliases

 {:membrane.term ;; to simulate a user installation
  {:extra-deps {org.slf4j/log4j-over-slf4j {:mvn/version "1.7.32"}
                org.slf4j/slf4j-nop {:mvn/version "1.7.32"}}
   :main-opts ["-m" "com.phronemophobic.membrane.term.main"]}

  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}
  :runner
  {:extra-deps {io.github.cognitect-labs/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "2d69f33d7980c3353b246c28f72ffeafbd9f2fab"}}
   :exec-fn cognitect.test-runner.api/test}
  :jar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
        :exec-fn hf.depstar/jar
        :exec-args {:jar "term.jar" :sync-pom true}}
  :install {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
            :exec-fn deps-deploy.deps-deploy/deploy
            :exec-args {:installer :local :artifact "term.jar"}}
  :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote :artifact "term.jar"}}}}
